{% assign agenda = site.data.agenda[page.year] %}
<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <h3 class="section-subheading text-muted">
          Speakers and topics are posted as they are confirmed<br/>
          Final schedule subject to change
        </h3>
      </div>
    </div>
    <table id="agenda-table">
      <tbody>
        <tr>
          <th>Time</th>
          <th>Schedule</th>
          <th>Location</th>
        </tr>
        
        {% for item in agenda %}
        <tr class="agenda-type-{{ item.type }}">
          <td>{{ item.time }}</td>
          <td>
            {% include agenda-type--{{item.type}} item=item %}
          </td>
          <td>{{ item.location }} <br /></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
