<section id="sponsors">
  <div class="container">
    <div class="row">

      {% assign sponsors = site.data.sponsors[page.year] %}
      {% if sponsors %}
      <h3 class="section-heading">Sponsors</h3>
      <div class="container">
        <div class="row align-items-center">
          {% for sponsor in sponsors %}
          <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
            <img src="/assets/img/sponsor/{{sponsor.image}}" alt="{{sponsor.name}} logo"
                 style="width: 120%; height: auto; margin-top:10px">
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      
      {% assign participants = site.data.participants[page.year] %}
      {% if participants %}
      <h3 class="section-heading">Participating Institutions</h3>
      <div class="container">
        <div class="row align-items-center">
          {% for participant in participants %}
          <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
                <img src="/assets/img/participants/{{participant.image}}" alt="{{participant.name}} logo" style="width: 100%; height: auto;">
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
