<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <br />
      <br />
      <br />

      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
      </div>
    </div>
    <div class="row container">
      <h3 class="section-heading">Goal</h3>
      <p>The Texas Regional Robotics Symposium (TEROS) aims to bring together Texas robotics researchers. TEROS is a one-day event with research talks, poster presentations, and social activities. The goal of TEROS is to share exciting ideas and build new connections in the robotics research community in Texas.</p>

      <h3 class="section-heading">Save the Date</h3>
      <p>After the success of its <a href="/2022/" target="_blank" rel="noopener noreferrer">first edition</a> at the University of Texas at Austin, the second edition of TEROS is coming to Houston. We are excited to announce that TEROS 2023 will be held on <strong>April 14, 2023</strong> at Rice University's BioScience Research Collaborative (BRC)! Please save the date and stay tuned for more updates.</p>

      <h3 class="section-heading">Sponsors</h3>

      <h3 class="section-heading">Participating Institutions</h3>

<!--          <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
          {% for participant in site.data.teros_2023.participants %}

              <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered" src="/assets/img/participants/{{ participant.image }}" alt="" style="width: participant.width%; height: auto; margin-top: participant.top%">
              </div>
          {% endfor %}
                </div>
            </div>
        </div> -->




        <div class="row container">

            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered"
                src="assets/img/participants/rice.svg" alt=""
                style="width: 120%; height: auto; margin-top:10px">
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered"
                src="assets/img/participants/tamu.png" alt=""
                style="width: 140%; height: auto; margin-top:-50px">
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered" src="assets/img/participants/ut_arlington.png" alt="" style="width: 60%; height: auto">
            </div>
        </div>

      <div class="row container">
            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered" src="assets/img/participants/ut_austin.png" alt="" style="width: 70%; height: auto">
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered"
                 src="assets/img/participants/ut_dallas.jpg"
                 alt="" style="width: 70%; height: auto; margin-top:30px">
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered"
                 src="assets/img/participants/ut_southwestern.png"
                 alt="" style="width: 100%; height: auto; margin-top:15px">
            </div>
      </div>
      <br>
      <div class="row container">
            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 speakers-item">
                <img class="img-responsive img-centered"
                src="assets/img/participants/u_houston.png"
                alt="" style="width: 90%; height: auto; margin-top:10px">
            </div>
      </div>

      <h3 class="section-heading">Previous Editions</h3>
      <a href="/2022/" target="_blank" rel="noopener noreferrer">2022 (University of Texas at Austin)</a>
    </div>
  </div>
</section>
