<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <br />
      <br />
      <br />

      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
      </div>
    </div>
    <div class="row container">

      <p>The Texas Regional Robotics Symposium (TEROS) aims to bring together Texas robotics researchers. TEROS is a one-day event with research talks, poster presentations, and social activities. The goal of TEROS is to share exciting ideas and build new connections in the robotics research community in Texas.</p>

    </div>
  </div>
</section>
