<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <br />
      <br />
      <br />

      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
      </div>
    </div>
    <div class="row container">

      <p>The Texas Regional Robotics Symposium (TEROS) aims to bring together Texas robotics researchers. TEROS is a one-day event with research talks, poster presentations, and social activities. The goal of TEROS is to share exciting ideas and build new connections in the robotics research community in Texas.</p>

      <p>After the success of its <a href="/2022/" target="_blank" rel="noopener noreferrer">first edition</a> at the University of Texas at Austin, the <a href="/2023/" target="_blank" rel="noopener noreferrer">second edition of TEROS</a> was at Rice in Houston. We are excited to announce that TEROS 2024 will be held on <strong>April 30, 2024</strong> at Texas A&M University's Zachry Engineering Education Complex. </p>

      <!-- <p><b>Public Registration: </b><a href="https://teros2024.eventbrite.com ">Link</a></p> -->

    </div>
  </div>
</section>
