<!-- About Section -->
<section id="Past">
  <div class="container">
    <div class="row">
      <br />

      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Previous Editions</h2>
      </div>
    </div>

    <div class="row container">
      <h3><a href="/2023/" target="_blank" rel="noopener noreferrer">2023, Second Edition held at Rice</a></h3>
      <h3><a href="/2022/" target="_blank" rel="noopener noreferrer">2022, Inaugural Edition held at the University of Texas at Austin</a></h3>
    </div>
  </div>
</section>