<!-- About Section -->
<section id="about" class="bg-light-gray">

  <div class="container">
    <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading" style="font-size:
						   60px">Texas Regional Robotics Symposium<br></h1>
		<br/>
		<br/>
                <h2 class="section-heading">April 29th<br></h2>
		<h3 class="section-heading">The University of Texas at Austin<br></h3>
		<br/>
		<br/>
		<br/>
		<br/>
              <!-- <div class="intro-heading">Texas Regional Robotics Symposium<br></div> -->
              <!--   <div class="intro-lead-in">April 29th</div> -->
              <!--   <div class="intro-lead-in">The University of Texas at Austin</div> -->
            </div>
	    </div>
        </div>
  
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <!-- <div class="row"> -->
            <!--     <div class="col-lg-12"> -->
            <!--         <ul class="timeline"> -->
            <!--             {% for about_data in site.data.teros_2022.home_about_data %} -->
            <!--                 <li class="{{ about_data.inverted }}"> -->
            <!--                     <div class="timeline-image"> -->
            <!--                         <img class="img-circle img-responsive" src="../css/teros_2022_style/img/{{ about_data.img }}" alt=""> -->
            <!--                     </div> -->
            <!--                     <div class="timeline-panel"> -->
            <!--                         <div class="timeline-heading"> -->
            <!--                             <h4>{{ about_data.name }}</h4> -->
            <!--                         </div> -->
            <!--                         <div class="timeline-heading"> -->
            <!--                             <p class="text-muted">{{ about_data.info }}</p> -->
            <!--                         </div> -->
            <!--                         <a href="{{ about_data.link }}" class="page-scroll btn btn-sm">Learn More</a> -->
            <!--                     </div> -->
            <!--                 </li> -->
            <!--             {% endfor %} -->
            <!--         </ul> -->
            <!--     </div> -->
            <!-- </div> -->
            <div class="row">
              <h3 class="section-heading">Goal</h3>
              <p>Texas Regional Robotics Symposium (TEROS) aims to bring together roboticists from the Texas Region. The program will consist of a mix of faculty, student researchers and industry partners.</p>
            </div>	    
	    <div class="row">
                    <h3 class="section-heading">Sponsors</h3>	      
	    </div>
            <div class="row">
                <!-- <div class="col-lg-12 text-center"> -->
                    <h3 class="section-heading">Keynote Speakers</h3>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                <!-- </div> -->
            </div>
            <div class="row">
            {% for post in site.data.teros_2022.speakers %}
                <div class="col-md-3 col-sm-3 speakers-item">
                    <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">
                      <!-- <div class="speakers-hover"> -->
                      <!--       <div class="speakers-hover-content"> -->
                      <!--           <i class="fa fa-plus fa-3x"></i> -->
                      <!--       </div> -->
                      <!--   </div> -->
                        <img src="../css/teros_2022_style/img/speaker/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="speakers-caption text-center">
                        <h4>{{ post.name }}</h4>
                        <p class="text-muted">{{ post.affliation }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>	    
        </div>
    </section>
