<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                  <!-- <h2>Contact</h2> -->
		  <h2>Organizers</h2>
		  <br/>
		  <br/>
		  {% for organizer in site.data.teros_2022.teams %}
		  <!-- <p>{{ organizer.name}}, {{organizer.email}}</p> -->

                <!-- <div class="col-xs-5ths col-sm-5ths col-md-5ths -->
		<!--   .col-lg-5ths col-xs-5ths -->
		<!--   speakers-item"> -->
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-5 speakers-item"> 
                  <a href="#{{ organizer.name }}" class="speakers-link" data-toggle="modal">
                        <img src="../css/teros_2022_style/img/team/{{ organizer.profile_image }}" class="img-responsive img-centered" style="padding-top: 1%;width:auto%;height:50%;  justify-content: center;" alt="">
                    </a>
                    <div class="speakers-caption text-center">
                        <h4 style="line-height: 40%;"><a href="{{organizer.website}}">{{ organizer.name }}</a></h4>
                        <!-- <p class="text-muted" style="line-height: 10%">{{ organizer.affliation }}</p> -->
                        <!-- <p class="text-muted" style="line-height: -->
                        <!-- 100%; font-size:90%">{{ organizer.email }}</p> -->
			
                    </div>
                </div>
		  {% endfor %}
		  
		  <!-- <p>NAME; email</p> -->
                    <!-- <h3 class="section-subheading text-muted">We will do our best to answer your request as soon as possible. You may send us your request via <a href="https://www.facebook.com/malaysianstudentstechnologyconference">Facebook Message</a></h3> -->
                </div>
            </div>
        </div>
    </section>
