<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                  <h2>Contact</h2>
		  <h3>Organizers</h3>
		  {% for organizer in site.data.teros_2022.teams %}
		  <p>{{ organizer.name}}, {{organizer.email}}</p>

                <!-- <div class="col-md-3 col-sm-3 speakers-item"> -->
                <!--     <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal"> -->
                <!--         <img src="../css/teros_2022_style/img/speaker/{{ post.profile_image }}" class="img-responsive img-centered" style="padding-top: 1%;" alt=""> -->
                <!--     </a> -->
                <!--     <div class="speakers-caption text-center"> -->
                <!--         <h4 style="line-height: 40%"><a href="{{post.website}}">{{ post.name }}</a></h4> -->
                <!--         <p class="text-muted" style="line-height: 10%">{{ post.affliation }}</p> -->
                <!--     </div> -->
                <!-- </div>		   -->
		  {% endfor %}
		  
		  <!-- <p>NAME; email</p> -->
                    <!-- <h3 class="section-subheading text-muted">We will do our best to answer your request as soon as possible. You may send us your request via <a href="https://www.facebook.com/malaysianstudentstechnologyconference">Facebook Message</a></h3> -->
                </div>
            </div>
        </div>
    </section>
