
<section id="registration" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h3 class="section-heading">Early-bird
                  registration</h3>
		<p>Please register for the event
		here: <a href="https://www.eventbrite.com/e/teros-2022-registration-232338820667
		">Link</a>. We are proud to share that this event is
		free for every attendee, and it will be a held in a
		hybrid format with a limited number of tickets
		available for in-person attendees due to COVID-19. We
		look forward to seeing you either virtually or
		in-person! Because we only have a limited number of
		in-person tickets available, please only select an in
		person ticket if you could make it.</p>
                <h3 class="section-heading">Public registration</h3>
		<p> We will open up the registration to public soon.</p>
                </div>
            </div>
        </div>
    </section>
