<section id="schedules">
  <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
  </style>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <!-- <div class="row container"> -->
    <!--   <\!-- <h3 class="section-heading">Symposium Schedules</h3> -\-> -->
    <!--   <b></b> -->
    <!-- </div> -->

    <div class="section-title" style="width:70%; margin-left: auto;
				      margin-right: auto; margin-top: auto">
      <table>
      	<!-- <caption><h3>Schedule (In-person)</h3></caption> -->
      	<colgroup>
          <col width="40%" />
          <col width="55%" />
      	</colgroup>
      	<!-- <thead> -->
        <!--   <tr class="header"> -->
        <!--     <th>Time (24 hr)</th> -->
        <!--     <th>Description</th> -->
        <!--   </tr> -->
      	<!-- </thead> -->
      	<tbody>
      	  {% for table_item in site.data.teros_2022.in_person_agenda %}
      	  <tr>
      	    <td>{{table_item.time}} <br/></td>
      	    <td colspan="2">{{table_item.info}} <br/></td>
      	  </tr>
      	  {% endfor %}
      	</tbody>
      </table>
    </div>
    <br>
    <div class="row container">
    <p> The tentative list of speakers for each spotlight talk
      session is: </p>
    <p>Spotlight Talks 1 (11:15-12:00):
      <table style="width:30%; margin-left: auto; margin-right: auto; margin-top: auto">
      	<!-- <caption><h3>Schedule (In-person)</h3></caption> -->
      	<colgroup>
          <col width="30%" />
          <col width="35%" />
      	</colgroup>
      	<!-- <thead> -->
        <!--   <tr class="header"> -->
        <!--     <th>Time (24 hr)</th> -->
        <!--     <th>Description</th> -->
        <!--   </tr> -->
      	<!-- </thead> -->
      	<tbody>
      	  {% for table_item in site.data.teros_2022.spotlight_speakers_1 %}
      	  <tr>
      	    <td>{{table_item.time}} <br/></td>
      	    <td colspan="2">{{table_item.speaker}} <br/></td>
      	  </tr>
      	  {% endfor %}
      	</tbody>
      </table>
    <p>Spotlight Talks 2 (14:30-15:20):
      <table style="width:30%; margin-left: auto; margin-right: auto; margin-top: auto">
      	<!-- <caption><h3>Schedule (In-person)</h3></caption> -->
      	<colgroup>
          <col width="30%" />
          <col width="35%" />
      	</colgroup>
      	<!-- <thead> -->
        <!--   <tr class="header"> -->
        <!--     <th>Time (24 hr)</th> -->
        <!--     <th>Description</th> -->
        <!--   </tr> -->
      	<!-- </thead> -->
      	<tbody>
      	  {% for table_item in site.data.teros_2022.spotlight_speakers_2 %}
      	  <tr>
      	    <td>{{table_item.time}} <br/></td>
      	    <td colspan="2">{{table_item.speaker}} <br/></td>
      	  </tr>
      	  {% endfor %}
      	</tbody>
      </table>
      
    <!-- <p>Spotlight Talks 1 (11:15-12:00): Robert Ambrose (11:15-11:25), -->
    <!--   Yu Xiang (11:25-11:35), Marcia O&apos;Malley (11:35-11:45), -->
    <!--   Nick Fey (11:45-11:55), Khen Elimelech (11:55-12:05)</p> -->
    <!-- <p>Spotlight Talks 2 (14:30-15:15): Dezhen Song (14:30-14:40), -->
    <!-- Vaibhav Unhelkar (14:40-14:50), -->
    <!-- Sandeep Chinchali (14:50-15:00), David Fridovich-Keil -->
    <!-- (15:00-15:10), Farshid Alambeigi (15:10 -15:20)</p> -->
    </div>    
    <br>
    <div class="row container">
    <p> We have been closely monitoring the developing situation with
    COVID-19. Given the <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/covid-by-county.html">low COVID-19 community level</a> in Austin, we are planning for an in-person meeting (with a 100-person in-person registration cap). The event will also be live-streamed for those who are unable to attend in person.</p>
    </div>
    <!-- <div class="section-title" style="width: 45%; float:right"> -->
    <!--   <table> -->
    <!--   	<caption><h3>Virtual schedule (tentative)</h3></caption> -->
    <!--   	<colgroup> -->
    <!--       <col width="20%" /> -->
    <!--       <col width="65%" /> -->
    <!--   	</colgroup> -->
    <!--   	<\!-- <thead> -\-> -->
    <!--     <\!--   <tr class="header"> -\-> -->
    <!--     <\!--     <th>Time (24 hr)</th> -\-> -->
    <!--     <\!--     <th>Description</th> -\-> -->
    <!--     <\!--   </tr> -\-> -->
    <!--   	<\!-- </thead> -\-> -->
    <!--   	<tbody> -->
    <!--   	  {% for table_item in site.data.teros_2022.virtual_agenda %} -->
    <!--   	  <tr> -->
    <!--   	    <td>{{table_item.time}} <br/></td> -->
    <!--   	    <td colspan="2">{{table_item.info}} <br/></td> -->
    <!--   	  </tr> -->
    <!--   	  {% endfor %} -->
    <!--   	</tbody> -->
    <!--   </table> -->
    <!-- </div> -->
  </div>
  <!-- <div class="container"> -->
  <!--   <div class="row"> -->
  <!--     {% for speaker in site.data.teros_2022.speakers %} -->
  <!--     <h3 class="section-heading">Keynote -->
  <!-- 	by <a href="{{speaker.website}}">{{speaker.name}}</a></h3> -->
  <!--     <h4>Speaker Bio: </h4> -->
  <!--     {{speaker.description}} -->
  <!--     {% endfor %} -->
  <!--   </div> -->
  <!--   </div> -->
</section>
