    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue Information</h2>
                </div>
            </div>
            <div class="row container">
              <h3 class="section-heading">Symposium Schedules</h3>
	      <b>We will make a final decision on going with in-person /
	  virtual sessions in early April.</b>
            </div>
            <div class="row container">
              <h3 class="section-heading">Parking Information</h3>
	      (Move to logistics section) Unfortunately, we will not provide free parking spots on
	      campus.
            </div>
            <div class="row container">
              <h3 class="section-heading">Local Information</h3>
	      (Move to logistics section) hotel: ATT Hotel.
	      food: We have very nice taco places, around campus.
            </div>	    
        </div>
        </div>
    </section>
