<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">

        <h2 class="section-heading">Contact Us</h2>
        <p>
          For more information, contact
          <a href="https://www.swri.org/user/226/contact?path=/events/texas-regional-robotics-symposium&page=ClRleGFzIFJlZ2lvbmFsIFJvYm90aWNzIFN5bXBvc2l1bQo=">
            Paul Evans
          </a>
          (+1 210 522 2994) or
          <a href="https://www.swri.org/user/4761/contact?path=/events/texas-regional-robotics-symposium&page=ClRleGFzIFJlZ2lvbmFsIFJvYm90aWNzIFN5bXBvc2l1bQo=">
            Meera Towler
          </a>
          (+1 210 522 6339).
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">Organizers</h2>
      </div>

        {%- assign img_root = "/assets/img/team/" -%}
        {%- assign organizers = site.data.teros_2025.people | where: "role", "organizer" -%}

        <div class="row container">
          <div class="row">
            <div class="col-lg-12 text-left">
              {% for organizer in organizers %}
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 speakers-item">
                  {% capture headshot %}
                    {%- if organizer.img -%}{{ organizer.img }}{% else %}headshot-blank.png{% endif -%}
                  {% endcapture %}
                  <a href="#{{ organizer.id }}" class="speakers-link" data-toggle="modal">
                    <img
                      src="{{ img_root }}{{ headshot }}"
                      class="img-responsive img-centered"
                      style="padding-top: 1%;"
                      alt="{{ organizer.alt | default: organizer.name }}"
                    />
                  </a>
                  <div class="speakers-caption text-center">
                    <h4 style="line-height: 40%; font-size: 115%">
                      {% if organizer.website %}
                        <a href="{{ organizer.website }}">{{ organizer.name }}</a>
                      {% else %}
                        {{ organizer.name }}
                      {% endif %}
                    </h4>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
