<section id="schedules">
  <style>
/*    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }*/

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(odd) {
      background-color: #dddddd;
      /*background-color: #b1b4f2;*/
    }

    /* make the table a 100% wide by default */
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin-left: -50px;
    width: 135%;}

    /* if the browser window is at least 800px-s wide: */
    @media screen and (min-width: 800px) {
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin-left: auto;
      width: 100%;}
    }

  </style>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <table><!--
      <colgroup>
        <col width="13%" />
        <col width="53%" />
        <col width="15%" />
      </colgroup>-->
      <tbody>
        <tr>
          <td><b>Time</b></td>
          <td><b>Schedule</b></td>
          <td><b>Location</b></td>
        </tr>
        {% for table_item in site.data.teros_2025.agenda %}
        <tr style={{table_item.color}}>
          <td>{{table_item.time}} <br /></td>
          <td>{{table_item.info | newline_to_br}}</td>
          <td>{{table_item.locations}} <br /></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
