<!-- Speakers Section -->
<section id="speakers">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
        <h2 class="section-heading">Program</h2>
      </div>

      <p>TEROS will be held as a one-day event with keynote talks, spotlight talks, poster presentations, industry booths, robotics lab tours, and social activities. <a href="#schedules">A detailed schedule is included below</a>.</p>

      <h3 class="section-heading">Keynote Speakers</h3>
        To be announced
         <div class="row container">
            <div class="row">
                <div class="col-lg-12 text-left">
          {% for speaker in site.data.teros_2025.speakers %}

              <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 speakers-item">
                <a href="#{{ speaker.name }}" class="speakers-link" data-toggle="modal">
                      <img src="/assets/img/speaker/{{ speaker.img }}" class="img-responsive img-centered" style="padding-top: 1%;" alt="">
                  </a>
                  <div class="speakers-caption text-center">
                      <h4 style="line-height: 40%"><a href="{{speaker.website}}">{{ speaker.name }}</a></h4>
                      <p class="text-muted" style="line-height: 10%">{{ speaker.subtitle}}</p>
                      <p class="text-muted" style="line-height: 10%">{{ speaker.affiliation}}</p>
                      <!-- <p class="text-muted" style="line-height: 10%">{{ speaker.affliation }}</p> -->
                      <!-- <p class="text-muted" style="line-height: -->
                      <!-- 100%; font-size:90%">{{ speaker.email }}</p> -->

                  </div>
              </div>
          {% endfor %}
                </div>
            </div>
        </div>



      <h3 class="section-heading">Spotlight Speakers</h3>
        To be announced
         <div class="row container">
            <div class="row">
                <div class="col-lg-12 text-left">
          {% for speaker in site.data.teros_2025.spotlights %}

              <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 speakers-item">
                <a href="#{{ speaker.name }}" class="speakers-link" data-toggle="modal">
                      <img src="/assets/img/spotlights/{{ speaker.img }}" class="img-responsive img-centered" style="padding-top: 1%;" alt="">
                  </a>
                  <div class="speakers-caption text-center">
                      <h4 style="line-height: 40%"><a href="{{speaker.website}}">{{ speaker.name }}</a></h4>
                      <p class="text-muted" style="line-height: 10%">{{ speaker.subtitle}}</p>
                      <p class="text-muted" style="line-height: 10%">{{ speaker.affiliation}}</p>
                      <!-- <p class="text-muted" style="line-height: 10%">{{ speaker.affliation }}</p> -->
                      <!-- <p class="text-muted" style="line-height: -->
                      <!-- 100%; font-size:90%">{{ speaker.email }}</p> -->

                  </div>
              </div>
          {% endfor %}
                </div>
            </div>
        </div>

      <h3 class="section-heading">Posters and Industry Booths</h3>
      <p>Along with talks from distinguished speakers, the symposium will feature exciting posters and industry booths. Participants will have the opportunity to interact with the poster and booth presenters during networking sessions scheduled throughout the day.</p>

      <!-- <p>Along with talks from distinguished speakers, the symposium will feature <b>30</b> exciting posters and industry booths. Participants will have the opportunity to interact with the poster and booth presenters during networking sessions scheduled throughout the day.</p> -->


         <div class="row container">
            <div class="row">
                <div class="col-lg-12 text-left">
          {% for speaker in site.data.teros_2025.booths %}

              <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 speakers-item">
                <a href="#{{ speaker.name }}" class="speakers-link" data-toggle="modal">
                      <img src="/assets/img/booths/{{ speaker.img }}" class="img-responsive img-centered" style="width: 90%; height: auto; margin-top:0px"  alt="">
                  </a>
                  <div class="speakers-caption text-center">
                      <h4 style="line-height: 40%"><a href="{{speaker.website}}">{{ speaker.name }}</a></h4>
                  </div>
              </div>
          {% endfor %}
                </div>
            </div>
        </div>

    </div>
  </div>

</section>
