<!DOCTYPE html>
<html>
  {% include teros_2024_data/head.html %}

  <body id="page-top" class="index">
    {% include teros_2024_data/header-home.html %}

    <br />
    <br />

    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading" style="line-height: 1.5">
            Texas Regional Robotics Symposium<br />
          </div>
          <br />
          <br />
          <div class="section-heading">April 30th, 2024<br /><br /></div>
          <div class="section-heading">Texas A&M University<br /></div>
        </div>
      </div>
    </header>

    {% include teros_2024_data/about.html %}
    {% include teros_2024_data/sponsors.html %}
    {% include teros_2024_data/speakers.html %}
    {% include teros_2024_data/schedules.html %}
    {% include teros_2024_data/venue.html %}
    {% include teros_2024_data/organizers.html %}
    {% include teros_2024_data/prev.html %}
    {% include teros_2024_data/footer.html %}
    {% include teros_2024_data/js.html %}
  </body>
</html>
