<!DOCTYPE html>
<html>
  {% include teros_2023_data/head.html %}

  <body id="page-top" class="index">
    {% include teros_2023_data/header-home.html %}

    <br />
    <br />

    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading" style="line-height: 1.5">
            Texas Regional Robotics Symposium<br />
          </div>
          <br />
          <br />
          <div class="section-heading">April 14th, 2023<br /><br /></div>
          <div class="section-heading">Rice University<br /></div>
        </div>
      </div>
    </header>

    {% include teros_2023_data/about.html %}
    {% include teros_2023_data/venue.html %}
    {% include teros_2023_data/organizers.html %}
    {% include teros_2023_data/footer.html %}
    {% include teros_2023_data/js.html %}
  </body>
</html>
