<!DOCTYPE html>
<html>
  {% include teros_2025_data/head.html %}

  <body id="page-top" class="index">
    {% include teros_2025_data/header-home.html %}

    <br />
    <br />

    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading" style="line-height: 1.5">
            Texas Regional Robotics Symposium<br />
          </div>
          <br />
          <br />
          <div class="section-heading">April 18th, 2025<br /><br /></div>
          <div class="section-heading">Southwest Research Institute<br /></div>
          <div class="section-heading">San Antonio, Texas<br /></div>
        </div>
      </div>
    </header>

    {% include teros_2025_data/about.html %}
    {% include teros_2025_data/sponsors.html %}
    {% include teros_2025_data/speakers.html %}
    {% include teros_2025_data/agenda.html %}
    {% include teros_2025_data/venue.html %}
    {% include teros_2025_data/organizers.html %}
    {% include teros_2025_data/prev.html %}
    {% include teros_2025_data/footer.html %}
    {% include teros_2025_data/js.html %}
  </body>
</html>
