<!DOCTYPE html>
<html>

  {% include teros_2022_data/head.html %}


    <body id="page-top" class="index">

    {% include teros_2022_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Texas Robotics Symposium<br></div>
                <div class="intro-lead-in">April 22nd</div>
                <div class="intro-lead-in">The University of Texas at Austin</div>
            </div>
        </div>
    </header>

    {% include teros_2022_data/intro.html %}
    {% include teros_2022_data/speakers.html %}
    {% include teros_2022_data/about.html %}
    {% include teros_2022_data/sponsors.html %}
    {% include teros_2022_data/contact.html %}
    {% include teros_2022_data/footer.html %}
    {% include teros_2022_data/speakers_info.html %}
    {% include teros_2022_data/js.html %}

    </body>
</html>
