<!DOCTYPE html>
<html>

  {% include teros_2022_data/head.html %}


    <body id="page-top" class="index">

    {% include teros_2022_data/header-home.html %}

    <br/>
    <br/>

    <!-- <div class="myDiv"> -->
    <!--   <div class="bg"></div> -->
    <!-- <div class="row"> -->
    <!--         <div class="col-lg-12 text-center" style="margin-top:100px"> -->
    <!--             <h1 class="section-heading" style="font-size: -->
    <!-- 						   60px">Texas Regional Robotics Symposium<br></h1> -->
    <!-- 		<br/> -->
    <!-- 		<br/> -->
    <!--             <h3 class="section-heading" style="font-size: 150%">April 29th<br></h3> -->
    <!-- 		<h3 class="section-heading" style="font-size: 150%">The University of Texas at Austin<br></h3> -->
    <!--           <\!-- <div class="intro-heading">Texas Regional Robotics Symposium<br></div> -\-> -->
    <!--           <\!--   <div class="intro-lead-in">April 29th</div> -\-> -->
    <!--           <\!--   <div class="intro-lead-in">The University of Texas at Austin</div> -\-> -->
    <!--         </div> -->
    <!-- 	    </div> -->
    <!--     </div> -->
    <header>
      <div class="container">
	<div class="intro-text">
                <div class="intro-heading" style="font-size-adjust:0.8;line-height:1.5">Texas Regional Robotics Symposium<br></div>
		<br/>
		<br/>
                <div class="section-heading">April 29th, 2022<br><br></div>
		<div class="section-heading">The University of Texas at Austin<br></div>
              <!-- <div class="intro-heading">Texas Regional Robotics Symposium<br></div> -->
              <!--   <div class="intro-lead-in">April 29th</div> -->
              <!--   <div class="intro-lead-in">The University of Texas at Austin</div> -->
        </div>
	</div>
    </header>

    <!-- <br> -->
    <!-- <br> -->
    <!-- <br> -->

    <!-- Header -->
    <!-- <header> -->
    <!--     <\!-- <div class="container"> -\-> -->
    <!--     <\!--     <div class="intro-text"> -\-> -->
    <!--     <\!--         <div class="intro-heading">Texas Regional Robotics Symposium<br></div> -\-> -->
    <!--     <\!--         <div class="intro-lead-in">April 29th</div> -\-> -->
    <!--     <\!--         <div class="intro-lead-in">The University of Texas at Austin</div> -\-> -->
    <!--     <\!--     </div> -\-> -->
    <!--     <\!-- </div> -\-> -->
    <!-- </header> -->

    <!-- {% include teros_2022_data/stream.html %} -->
    {% include teros_2022_data/about.html %}
    <!-- {% include teros_2022_data/registration.html %} -->
    {% include teros_2022_data/schedules.html %}
    {% include teros_2022_data/venue.html %}    
    {% include teros_2022_data/contact.html %}
    {% include teros_2022_data/footer.html %}
    {% include teros_2022_data/speakers_info.html %}
    {% include teros_2022_data/js.html %}

    </body>
</html>
